<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my first EJS file used as Frontend View</h1>
    
    <%for(let i=0; i<obj.length;i++){%>
        <div style="display: inline-block; border: 5px solid green; max-width: 380px;">
            <img src="<%=obj[i].urls.small%>" style="max-height: 440px; max-width: 380px;">
            <h1>Created date: <%=obj[i].created_at%></h1>
        </div>        
    <%}%>
</body>
</html>